.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "left main right"
        "footer footer footer";
    grid-template-columns: 200px 1fr 250px;
    grid-template-rows: 60px 1fr 50px;
    height: 100vh;
}

.header {
    grid-area: header;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-size: 1.2rem;
}

/* Левая колонка - скрыта на мобильных устройствах */
.left-sidebar {
    grid-area: left;
    background: #ddd;
    padding: 15px;
}

/* Основная колонка */
.main {
    grid-area: main;
    background: white;
    padding: 15px;
    position: relative;
}

/* Правая колонка для формы */
.right-sidebar {
    grid-area: right;
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Стиль кнопок */
button {
    background-color: #0969A2;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #3D9AD1;
}

/* Скрыть форму приветствия по умолчанию */
#greeting {
    display: none;
}


@media (max-width: 1250px) {
    .container {
        grid-template-areas:
            "header"
            "main"
            "right"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto 50px;
    }

    .left-sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background: #ddd;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .menu-btn {
        display: block;
    }

    #auth-form {
        margin-top: 20px;
    }

    #greeting {
        display: block;
    }
}

/* Формы регистрации и авторизации */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 12px;
}
